/* view.css */
html, body {
    height: 100%;
    margin: 0;
}

.view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.card {
    width: 100%;
    max-width: 600px; /* Adjust this to the desired max width of your card */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 20px;
}

.card-header {
    margin-bottom: 20px;
}

.card-author-info {
    margin-bottom: 10px;
}

.card-author {
    margin: 0;
    font-weight: bold;
}

.card-title {
    margin: 0 0 10px;
}

.card-text {
    margin: 0 0 20px;
}

.card-link {
    color: #007bff;
    text-decoration: none;
}

.card-link:hover {
    text-decoration: underline;
}
